* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgba(0, 123, 255, 0.3);
}

body {
  background: #f9f9f9;
}

.navbar {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px 10px 25px 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.icon {
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon:hover {
  color: #147efb;
  transition: all 0.3s;
}

.menu-list li a{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar ul a {
  color: #2d2e32;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.23s;
}

@media (max-width: 768px) {
  .navbar {
    padding: 25px 30px 25px 30px;
  }

  .icon.fa-xmark {
    display: block;
    font-size: 25px;
  }

  .navbar ul {
    background: #fe0000;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  .navbar ul.active {
    right: 0;
  }

  .navbar ul li {
    display: block;
    margin: 25px;
  }

  .navbar ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .navbar ul a {
    display: none;
  }

  .icon.fa-bars {
    display: block;
    font-size: 25px;
    margin-right: 20px;
  }
}

.navbar ul li a:hover {
  color: #147efb;
}

.logo {
  color: #2d2e32;
  font-size: 20px;
  cursor: pointer;
  font-weight: 800;
}

.menu-list li {
  list-style: none;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 200px; /* Adjust the width as needed */
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #ffffff;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
