* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

::selection {
  background: #375B57;
}

.navbar {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px 80px 25px 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #1e1e1e;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.23s;
  margin: -5px;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a:hover {
  color: #147efb;
}

.icon {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.icon:hover {
  color: #147efb;
  transition: all 0.3s;
}

.menu-list .cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.logo {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 800;
}

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    left: -100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    background: #ffffff;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin: 10px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

/* header Page */
#header .header-text {
  margin-top: 45px;
}

#header .header-text {
  font-size: 55px;
  display: block;
  color: #ffffff;
  font-weight: 800;
  margin: 15px;
}

#header .head-text {
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  color: #f9f9f9;
  margin: 15px;
}

.iconsContact {
  margin: 15px;
}

.github,
.linkedin {
  color: #ffffff;
  font-size: 32px;
  transition: color 0.5s;
  margin: 5px;
}

.github:hover,
.linkedin:hover {
  color: #375B57;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin: 80px 10px 0 100px;
  /* Remove any default margin */
}

.profile-pic {
  max-width: 100%;
  height: auto;
}

#header .container {
  display: flex;
  flex-direction: column;
  /* Ensure a column layout */
  align-items: center;
  /* Center content horizontally */
  margin-top: 20px;
}

#header .landing-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* Make sure the children elements are spaced evenly */
}

#header .sub-content {
  display: flex;
}

span {
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
  cursor: pointer;
}

span a {
  font-size: 3rem;
  color: #ffffff;
}

#header .waving {
  width: 4rem;
  height: 4rem;
  margin-left: 10px;
}

.hand-text-content {
  display: flex;
  align-items: center;
}

.hand-text-content .header-text {
  margin-right: 10px;
  margin-bottom: 0;
}

#header .tech-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 30px;
}

#header .tech-image {
  height: 45px;
  width: 110px;
  margin: 10px;
  transition: all ease-in-out 0.5s;
}

#header .stack-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 15px;
  /* Adjust the margin as needed */
  padding-left: 0;
  /* Remove any left padding */
}

#header .stack-container p {
  margin-right: 1.5rem;
  padding-right: 2rem;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

#header .tech-stack-header {
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-right: 40px;
  margin-left: 0;
  /* Adjust the margin as needed */
  color: #f9f9f9;
}

#header .tech-image:hover {
  transform: translateY(-0.7rem);
}

/* ABOUT PAGE STYLING */

#about .container {
  background-color: #000000;
  width: 100%;
  height: 600px;
  padding: 20px;
}

#about .content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about .user-image {
  width: 410px;
  height: 350px;
  border-radius: 17px;
  margin: 35px;
}

#about .header {
  color: #147efb;
  font-size: 17px;
  margin: 20px;
  font-weight: 800;
}

#about .sub-header {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px 35px 20px;
  font-weight: 800;
  line-height: 1.4;
}

#about .content,
.sub-content {
  color: #767676;
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  margin: 20px 20px 35px 20px;
}

#about .content-box {
  margin-top: 45px;
}

/* PROJECTS STYLING */

#projects .container {
  margin-top: 30px;
}

#projects .header {
  color: #147efb;
  font-size: 17px;
  margin: 20px;
  font-weight: 800;
}

#projects .sub-header {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px 35px 20px;
  font-weight: 800;
  line-height: 1.4;
}
#projects .container .content-container .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .container .content-container .card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
  background-color: #000000;
  width: 700px;
  max-width: 100%;
  height: 400px;
  border-radius: 18px;
  border: 1px solid white;
  margin: 0 10px;
}

#projects .card h5 {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin: 20px;
}

#projects .card p {
  
  color: #e7e7e7;
  font-size: 17px;
  font-weight: 500;
  margin: 10px
}

#projects .card .tech-stack ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}

#projects .card .tech-stack ul li {
  font-weight: 800;
  color: #f9f9f9;
  margin: 10px;
}


#projects .container .content-container .card .image-container {
  width: 300px;
  display: flex;
  justify-content: space-between;

}

#projects .container .content-container .card .image-container .box {
  width: 580px;
  height: 400px;
  background: #ffffff;
  background-position: top;
  transition: ease-in-out 8s;
}

#projects .container .content-container .card .image-container .box.box1 {
background: url(lock.jpg); 
background-size: cover; 
z-index: 8;
}

#projects .container .content-container .card .image-container .box {
  background-position: bottom;
}




#projects .container .content-container .card .content{
  flex: 1;
  color: white;
  text-align: center;
}

#projects .container .card .teck-stack {
  display: flex;
  flex-direction: row;
  width: 50%;
} 

#projects .container .card .demo-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}

#projects .container .card .demo-links ul li {
  font-weight: 500;
  color: #f9f9f9;
  margin: 5px;
  font-size: 17px;
}

#projects .container .card .demo-links ul li i {
  margin: 5px;
  font-size: 18px;
  transition: all ease-in-out 0.5s;
}

#projects .container .card .demo-links ul li i:hover {
  color: #147efb;
}





/* CONTACT AREA STYLING */

#contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  width: 100%;
  height: 500px;
}

#contact .content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
}

#contact .header {
  color: #147efb;
  font-size: 17px;
  margin: 20px;
  font-weight: 800;
}

#contact .sub-header {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px 35px 20px;
  font-weight: 800;
  line-height: 1.4;
}

#contact .contact-card {
  display: flex;
  align-items: center;
  margin: 20px;
}

#contact .content-text {
  margin: 10px;
}

#contact .bubble {
  background-color: #ffffff;
  width: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #147efb;
}

#contact .bubble i {
  color: #147efb;
  font-size: 25px;
}

#contact .email,
.location {
  color: #ffffff;
  font-size: 17px;
  font-weight: 800;
  margin: 5px 0 5px 0;
}

#contact .email-name,
.location-name {
  color: #767676;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
}

#contact .contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* FOOTER STYLING */
.footer {
  background-color: #1e1e1e;
  padding: 50px 0;
  width: 100%;
}

.footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px 0 80px;
}

.footer .header {
  color: #ffffff;
  font-size: 17px;
}

.footer .footer-social {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.footer .footer-social a i {
  color: #ffffff;
  transition: color ease-in-out 0.5s;
}

.footer .footer-social a i:hover {
  color: #147efb;
}
