* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::selection {
  background: rgba(0, 123, 255, 0.3);
}

.navbar {
  font-size: 1.7rem;
  width: 100%;
  height: auto;
  padding: 25px 80px 25px 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar ul a {
  color: #2d2e32;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: all 0.23s;
  margin: -5px;
}

.navbar ul li {
  display: flex;
  align-items: center;
}

.navbar .menu-list{
  display: inline-flex;

}
.menu-list li{
  list-style: none;
}

.menu-list li a:hover{
  color: #007bff;
}


.icon {
  color: #000000;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.icon:hover {
  color: #147efb;
  transition: all 0.3s;
}

.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}


.logo {
  color: #2d2e32;
  font-size: 20px;
  cursor: pointer;
  font-weight: 800;
}


@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .icon {
    display: block;
  }

  .icon.hide {
    display: none;
  }

  .navbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    left: -100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    background: #ffffff;
    transition: all 0.3s ease;
  }

  .navbar.show .menu-list {
    left: 0%;
  }

  .navbar .menu-list li {
    margin: 10px;
  }

  .navbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}

/* header Page */
#header .header-text{
margin-top: 45px;
}

#header .header-text {
  font-size: 55px;
  display: block;
  color: #2d2e32;
  font-weight: 800;
  margin: 15px;
}

#header .head-text {
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  color: #555555;
  margin: 15px;
}

.iconsContact {
  margin: 15px;
}

.github, .linkedin {
  color: #2D2E32;
  font-size: 32px;
  transition: color 0.5s;
  margin: 5px;
}

.github:hover, .linkedin:hover {
  color: #007bff;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin: 80px 10px 0 100px; /* Remove any default margin */
}

.profile-pic {
  max-width: 100%;
  height: auto;
}

#header .container {
  display: flex;
  flex-direction: column; /* Ensure a column layout */
  align-items: center; /* Center content horizontally */
  margin-top: 20px;
}


#header .landing-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; /* Make sure the children elements are spaced evenly */
}

#header .sub-content {
  display: flex;
}

span {
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
  cursor: pointer;
}
span a {
  font-size: 3rem;
  color: #2d2e32;
}

#header .waving {
  width: 4rem;
  height: 4rem;
  margin-left: 10px;  
}

.hand-text-content {
  display: flex;
  align-items: center;
}

.hand-text-content .header-text {
  margin-right: 10px;
  margin-bottom: 0; 
}

#header .tech-list {
  display: flex;
  flex-direction: row;
  list-style: none;

}

#header .tech-image {
  height: 45px;
  width: 110px;
  margin: 10px;
  transition: all ease-in-out 0.5s;
}

#header .stack-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;  
  margin-left: 15px; /* Adjust the margin as needed */
  padding-left: 0; /* Remove any left padding */
}

#header .stack-container p {
  margin-right: 1.5rem;
  padding-right: 2rem;
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #2d2e32;
}


#header .tech-stack-header {
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin-right: 40px;
  margin-left: 0; /* Adjust the margin as needed */
  color: #2d2e32;
}

#header .tech-image:hover {
  transform: translateY(-0.7rem);
}

/* ABOUT PAGE STYLING */

#about .container {
  background-color: white;
  width: 100%;
  height: 600px;
  padding: 20px
}

#about .content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#about .user-image {
  width: 410px;
  height: 350px;
  border-radius: 17px;
  margin: 35px;
}

#about .header {
  color: #147efb;
  font-size: 17px;
  margin: 20px;
  font-weight: 800;
}

#about .sub-header {
  color:#2D2E32;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px 35px 20px;
  font-weight: 800;
  line-height: 1.4;
}

#about .content, .sub-content {
  color: #767676;
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  margin: 20px 20px 35px 20px;
}

#about .content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}


